html {
  background-color: #fff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 1em auto;
  max-width: 50em;
  padding: 0;
}

.container {
  background-color: #f1f1f1;
  padding: 2em;
}

h1 {
  font-size: 3em;
  margin-top: 0;
  text-align: center;
}

form {
  background-color: #ddd;
  margin-bottom: 2em;
  margin-top: 2em;
  outline: .25em dashed #fff;
  outline-offset: -.75em;
  padding: 3em 2em;
  position: relative;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

label, input {
  display: block;
  font-size: 1em;
  margin: .5em 0;
}

label {
  font-size: 1.5em;
  text-align: center;
}

.attribute {
  display: inline-block;
  width: 12em;
}

.file-number {
  color: #999;
  font-weight: 400;
}

.default,
.failure,
.warning,
.success {
  padding: .5em 1em;
  margin: .25em 0;
}

.default {
  background-color: #fff;
}

.failure {
  background-color: #d9534f;
}

.warning {
  background-color: #f0ad4e;
}

.success {
  background-color: #5cb85c;
}

.title {
  margin-bottom: .5em;
  margin-top: 1.5em;
}

.upload-icon {
  width: 100%;
  height: 4em;
  fill: #333;
  display: block;
  margin-bottom: 2em;
}

.is-dragover {
  outline-offset: -1em;
  outline-color: #ccc;
  background-color: #fff;
}


.upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.upload-input + label {
  text-align: center;
}

.upload-input + label strong {
  color: #0071b3;
  text-decoration: underline;
}

.upload-input + label:hover strong,
.upload-input:focus + label strong,
.upload-input.has-focus + label strong {
  color: #001f3f;
  cursor: pointer;
}

.help {
  padding-top: 10em;
}

.more-info {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #000;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 1em;
  height: 1em;
  text-align: center;
  text-decoration: none;
  margin-left: .25em;
}

.more-info:hover,
.more-info:focus {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 1em;
  padding: 0 1em;
}
